/*  
  EIS UM PROTÓTIPO EM CASCATA
    .class {      
      width: 1300px;      
      width: 50px;      
      max-width: 500px;      
    }
    #item p {  
      background-image: url();      
    }
*/
    /*    
      SUMÁRIO
    */ 
    /*  
      PADRÃO GERAL DA PÁGINA
    */
        body {    
          text-align: center;
          font-family: sans-serif;
          color: white;
          background-color: black;
          margin: 0;
          position: relative;
        }
        ::-webkit-scrollbar {
          width: 0;
        }
    /*
      CABEÇALHO
    */
        div:first-of-type {          
          border: 6px groove white;
          margin: auto;
          width: 150px;
        }
        #referência_da_imagem, #referência_do_rodapé  {
          color: white;
          text-decoration-line: none;
        }
        form {
          font-family: Tahoma;
        }
        fieldset {
          width: 500px;
          margin: auto;
          border-color:white;
        }
        #arquivo{
          margin: 17px auto auto 100px;
        }
        #desativado {
          margin-left: 3.625rem;
        }
        #urlimagemteste {
          margin-left: 5.8rem;
          opacity: 0.7;
        }
        #e-mail {
          margin-right: 17.25rem;
        }
        #senha {
          margin-right: 0.125rem;
        }
        #idade {
          margin-left: -7.725rem;
        }
        #tempo {
          margin-right: 0.0625rem;
        }
        h6 {
          border: 0.25rem dotted;
          padding: 6px;
          margin: auto;
          width: 355px;
        }
        h5 {
          border: 0.125rem dashed;
          margin: 16px auto 6px auto;
          padding: 6px;
          width: 262px;

        }
        h4 {
          border: 0.1875rem double;
          margin: 16px auto 6px auto;
          width: 147px;
          padding: 6px;
        }
        h3 {
          border: 0.4375rem inset white;
          margin: 16px auto 6px auto;
          width: 255px;
          padding: 6px;
        }
        h2 {
          border: 0.4375rem outset white;
          margin: 16px auto 6px auto;
          width: 226px;
          padding: 6px;
        }
        h1 {
          font-family: Impact, serif;
          font-size: 4.0625rem;
          border: 0.75rem ridge white;
        }
    /*
      LISTA DESORDENADA
    */
        #primeiro_ponto {
          margin: 60px auto auto auto;
          width: 358px;
        }
        #segundo_ponto { 
          margin: auto;
          width: 357px;
          height: 42px;
        }
        #terceiro_ponto { 
          margin: auto;
          width: 357px;
        }
        ul {
          list-style: none;
          padding: 0;
          vertical-align: middle;
        }
        ul li {
          display: flex;
          align-items: center;
        }
        ul li::before {
          content: '';
          margin-right: 15px;
          min-width: 5px;
          height: 0.3rem;
          border-radius: 0.3rem;
          background-color: #fff;
        }
    /*
      CORES
    */
        #gradiente_superior {    
          background: linear-gradient(rgb(92, 92, 92), rgb(255, 255, 255), rgb(92, 92, 92));
          margin: 60px auto 30px auto;
          height: 1.25rem;
          width: 200px;
          border: 0;
        }
        #gradiente_inferior { 
          background: linear-gradient(rgb(92, 92, 92), rgb(255, 255, 255), rgb(92, 92, 92));
          margin: 25px auto auto auto;
          height: 1.25rem;
          width: 200px;
        }
    /*
      LISTA ORDENADA
    */
        #primeiro {
          margin: 25px auto 19px auto;
          margin-inline-start: 8px;
          margin-inline-end: 52px;
        }
        #segundo {
          margin: 15px auto 19px auto;
          margin-inline-start: 8px;
          margin-inline-end: 44px;
        }
        #terceiro {
          margin: 15px auto 25px auto;
          margin-inline-start: 8px;
          margin-inline-end: 44px;
        }
        #lista_ordenada {
          border: 1px solid;
          margin: auto;
          width: 95px;
          background: rgba(255, 255, 255, 0.5);
          box-shadow: -10px -10px 8px white;
        }
    /*
      PARÁGRAFOS
    */
        #parágrafo-link {    
          margin-top: 4rem;
          padding-left: 23.5625rem;
          padding-right: 23.5625rem;
          padding-bottom: 4rem;
        }
        a {
          color: white;
        }
        a:visited { 
          color: rgb(200, 200, 255);
        }
        a:hover { 
          color: white;
        }
        a:active { 
          color: silver;
        }
        #parágrafo { 
          padding-left: 23.5625rem;
          padding-right: 23.5625rem;
          padding-bottom: 3.125rem;
        }
    /*
      TESTES
    */
        #parágrafo_em_linha {    
          display: inline-block;
        }
        #divisão { 
          margin: -1.125rem auto;
          border: unset;
        }
        #lembrete {
          margin-bottom: 4rem;
        }
        #resultado{
          border: 0;
          width: auto;
          margin-bottom: 25px;
          font-size: x-large;
        }
    /*
      RÉGUAS HORIZONTAIS
    */
        hr {    
          height: 0.0625rem;
          background-color: white;
          border-color: black;
        }
        #primeira_linha_horizontal {
          width: 26.5625rem;
        }
        hr:last-of-type { 
          text-align: center;
          width: 45.3125rem;
        }
    /*
      RODAPÉ
    */
        #Penúltima_na_linha, #Última_na_linha {
          display: inline;
          font-style: italic;
        }
        #Penúltimo_parágrafo {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }